{% load static %}
<footer>
    <ul class="footer-social-networks">
        <li class="footer-social-network">
            <a href="#">
                <img class="footer-social-network-image" src="{% static "myapp/images/google.png" %}" alt="">
            </a>
        </li>
        <li class="footer-social-network">
            <a href="#">
                <img class="footer-social-network-image" src="{% static "myapp/images/instagram.png" %}" alt="">
            </a>
        </li>
        <li class="footer-social-network">
            <a href="#">
                <img class="footer-social-network-image" src="{% static "myapp/images/invision.png" %}" alt="">
            </a>
        </li>
    </ul>


    <p class="footer-licence">
        ООО «Дент», лицензия №ЛО-86-8681-01868686047 от 13.02.2099
        © 2018-2021
    </p>

    <a class="footer-personal-data-approval" href="#">
        Политика в отношении обработки персональных данных
    </a>

    <div class="footer-logo-wrapper">
        <img src="{% static 'myapp/images/logo.png'%}" alt="">
    </div>
    
</footer>