{% load static %}
<header>
    <div class="header-centering">

        <div class="header-logo-wrapper">
            <div class="header-logo"></div>
        </div>


        <ul class="social-networks-wrapper">
            <li class="social-network">
                <a href="#">
                    <img class="social-network-image" src="{% static "myapp/images/google.png" %}" alt="">
                </a>
            </li>
            <li class="social-network">
                <a href="#">
                    <img class="social-network-image" src="{% static "myapp/images/instagram.png" %}" alt="">
                </a>
            </li>
            <li class="social-network">
                <a href="#">
                    <img class="social-network-image" src="{% static "myapp/images/invision.png" %}" alt="">
                </a>
            </li>
        </ul>



        <ul class="header-menu">
            <li>
                <a class="header-menu-link" href="#">
                    О нас
                </a>
            </li>
            <li>
                <a class="header-menu-link" href="#">
                    Услуги
                </a>
            </li>
            <li>
                <a class="header-menu-link" href="#">
                    Специалисты
                </a>
            </li>
            <li>
                <a class="header-menu-link" href="#">
                    Пациентам
                </a>
            </li>
            <li>
                <a class="header-menu-link" href="#">
                    Контакты
                </a>
            </li>
        </ul>


        <div class="address-wrapper">
            <div class="address-icon">
                <img src="{% static "myapp/images/location_outline.png" %}" alt="">
            </div>
            <p class="address">Чебоксары, Энтузиастов 1А</p>
        </div>



        <div class="job-time-wrapper">
            <div class="calendar-icon">
                <img src="{% static "myapp/images/calendar.png" %}" alt="">
            </div>

            <p>
                с 09:00 - 20:00
            </p>

            <p class="job-days">
                пн-сб
            </p>
        </div>


        <div class="header-phone-number-wrapper">
            <div class="phone-icon">
                <img src="{% static "myapp/images/phone.png" %}" alt="">
            </div>
            <p>
                +7 900 333 10 40
            </p>
        </div>


        <div class="order-button-wrapper">
            <button class="order-button">Заказать звонок</button>
        </div>



    </div>
</header>