{% load static %}
<form class="ordering-call-form">
    <div class="ordering-call-background">
        <div class="ordering-call-centering">

            <p class="ordering-call-title">
                При фиксации брекетов на обе челюсти получи
                сертификат на 7000 рублей
            </p>

            <p class="ordering-call-text">
                Укажите вой номер телефона, мы перезвоним и подберем 
                для вас удобное время приёма.
                Или позвоните нам сами — +7 900 333 10 40 
            </p>

            <div class="input-button-wrapper">
                <input class="ordering-call-user-number" type="number" placeholder="Телефон">
                <button class="make-appoingment-button">Записаться на приём</button>
            </div>
            

            <p class="personal-data-approval">
                Записываясь на услугу, вы даёте согласие на<br> 
                <a class="personal-data-link" href="#">обработку своих персональных данных</a>
            </p>



        </div>
    </div>

    <img class="ordering-call-human-image" src="{% static 'myapp/images/woman-dentist.png'%}" alt="">
    
</form>